<!-- <div class="flex-spacer"></div>-->
<div class="header">
        <div class="mobile-container">
          <div id="logo">GEOSKY</div>
          <ul class="header-menu">
            <li class="optional"><a href="#">what is it?</a></li>
            <li class="optional"><a href="#">why GEOSKY?</a></li>
            <li class="optional"><a href="#">what we do?</a></li>
            <li class="login-item" (click)="openLoginForm()">LogIn</li>
            <li class="register" (click)="openRegistrationForm()">register</li>
          </ul>
        </div>
      </div>
      <section id="where-to">
        <div class="mobile-container">
            
              <div id="logo-image">
                <img src="/assets/img/logo.png" alt="GEOSKY logo" width="200" height="200">
              </div>
              <h1>
                Welcome to Community of Geosky!<br />
                Share and recieve Travel impressions, get friends in modern community
            </h1>
            <button mat-raised-button color="primary" (click)="openRegistrationForm()">Join Community</button>
        </div>
      </section>